

<%= image_tag 'be-pass-logo.png',
width: 900 %>

<div class="studentlog">
  <%= link_to new_student_session_path do%>
    <%= image_tag('JNZ2vHljKrnBNsW1512167066_1512167355.png',width: 400) %>
  <%end%>
</div>

<br>
<div class="salonlog"><%= link_to "サロンの方はこちら",new_salon_session_path %></div>

