/*// Place all the styles related to the passes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.pass_all{
  color:pink;
  font-size:40px;
  font-family:'Kokoro';
}

.pass_info{
  color:black;
  font-size:50px;
  font-family: 'Kokoro';
  background-color:white;
}


.pass_detail{
font-family: 'Kokoro';
 font-size:40px;
width:90%;
margin:0 auto;
height:500px;
}
