

.student_form{
font-family: 'Kokoro';
font-size:40px;

}

#student_name{
  width:80%;
  height:50px;
  border:3px solid #DBDBDB;
}

#student_image{
  height:30px;
  border:1px solid #DBDBDB;
}

#student_school_name{
  width:50%;
  height:40px;
  font-size: 20px;
  border:3px solid #DBDBDB;
}

#student_grade{
  width:50%;
  height:40px;
  font-size: 20px;
  border:3px solid #DBDBDB;
}

#student_shikaku{
  width:50%;
  height:40px;
  font-size: 20px;
  border:3px solid #DBDBDB;
}

#student_pr{
  width:80%;
  height:200px;
  border:3px solid #DBDBDB;
}

#student_ig_url{
  width:50%;
  height:40px;
  font-size: 20px;
  border:3px solid #DBDBDB;
}

