@font-face {
    font-family: 'Kokoro';
    src: font-url('Kokoro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corbeau';
    src: font-url('GesseleRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'days';
    src: font-url('StrangeDays.ttf');
    font-weight: normal;
    font-style: normal;
}
