@font-face {
    font-family: 'Kokoro';
    src: font-url('Kokoro.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Corbeau';
    src: font-url('Egoist_Corbeau.ttf');
    font-weight: normal;
    font-style: normal;
}
