header{
  background-color: pink;
  height:150px;
  width:100%;
  position:fixed;
  top:0;
}

footer{
  background-color: pink;
  font-family: 'Kokoro';
  font-size:15px;
  height:80px;
  width:100%;
  text-align: center;
  position: fixed;
  bottom:0;
}
 
body {
  margin-bottom: 5em;
}


a{
  text-decoration: none;
}

.studentlog{
  text-align: center;
  display: inline-block;
  margin-right: 40px;
  margin-left: 10px;
  margin-bottom: 200px;
}

.salonlog{
  text-align: center;
  display: inline-block;
  margin-bottom: 200px;
}

.logobox{
  height: 100%;
  width: 200px;
  float: left;
}

.logout{
  height: 100%;
  width: 200px;
  float: right;
  text-align: center;
}

.student_logout{
  line-height: 150px;
  text-align: center;
}

.pass_post{
  line-height: 150px;
  text-align: center;
}

.passpo{
  height: 100%;
  width: 200px;
  float: right;
  text-align: center;
  margin-right: 10px;
}

.salon_logout{
  line-height: 150px;
  text-align: center;
}

.salon_info{
  float: right;
  line-height: 150px;
  margin-right: 10px;
}

.student_info{
  float: right;
  line-height: 150px;
  margin-right: 10px;
}

.under-header-box{
  height: 150px;
}

.under-footer-box{
  height: 80px;
}

.pass_describe{
  margin: 30px;
}
